.body {
	background: black;
}

.fontColor {
	color: yellow;
}

.fontHeader {
	font-size: 3em; /* 1em = 12pt */
}

.fontArticle {
	font-size: 1em;
}

.fontFooter {
	font-size : 0.75em;
}

/*Skaliert das Bild auf 200x200px*/
.img { 
	height: 200px;
	width: 200px;
}

/* Skaliert das Bild auf 50x50px */
.thumbnail {
	height: 50px;
	width: 50px;
}

.input {
	width = 40px;
}