.body {
	background: black;
}

.fontColor {
	color: yellow;
}

.fontHeader {
	font-size: 3em; /* 1em = 12pt */
	
}

.fontHeader:hover {
	-webkit-transform:rotate(180deg); /*Für Sarfari und Chrome */
	-moz-transform:rotate(180deg); /* Für FireFox*/
	-o-transform:rotate(180deg);  /* Opera */
}

.fontArticle {
	font-size: 1em;
}

.fontFooter {
	font-size : 0.75em;
}

/*Skaliert das Bild auf 200x200px*/
.img { 
	height: 200px;
	width: 200px;
}

/* Skaliert das Bild auf 50x50px */
.thumbnail {
	height: 50px;
	width: 50px;
}

.input {
	width = 40px;
}

.Article{

	border: 1px;
	border-style:solid;
	border-color: yellow;
	border-radius: 10px; 

	background: -webkit-linear-gradient( black , yellow); /* Chrome Sarfari*/
	background: -o-linear-gradient( black, yellow); /* Opera */
	background: -moz-linear-gradient(black, yellow); /* FireFoxe */
}

#absolute {
	position: absolute;
	right: 0;
}